<div class="header-main-container row">
  <div class="header-image-container col-sm-12 col-md-3">
    <img routerLink="/" src="./assets/nebula.png" alt="">
  </div>
  <div class="header-menu-container col-sm-12 col-md-9 text-md-right">
    <nav>
      <ul>
        <li><a href="">Dashboard</a></li>
        <li><a href="">Personas</a></li>
        <li><a href="">Transacciones</a></li>
        <li><a href="">Subscripciones</a></li>
      </ul>
    </nav>
    <div class="header-tools-container">
      <div class="header-tool-container"><i class="fas fa-search"></i></div>
      <div class="header-tool-container">
        <i class="fas fa-plus"></i>
        <i class="fas fa-user-friends"></i>
      </div>
      <div class="header-tool-container">
        <img src="./assets/profile.jpg" alt="">
      </div>
    </div>
  </div>
</div>