<div class="user-main-container row">
  <aside id="menuResponsive" class="col-lg-2 user-aside-container">
    <div class="close-manu-container text-right">
      <button (click)="closeMenu()">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="info-image-container">
      <img src="./assets/gender.png" alt="">
      <h2>{{userInfo.name}}</h2>
    </div>
    <div class="info-text-container">
      <p class="pt-2"><strong>Contacto</strong></p>
      <p>{{userInfo.email}}</p>
      <p>{{userInfo.phones[0]}}</p>
      <p class="pt-2"><strong>Fecha de nacimiento</strong></p>
      <p>{{userInfo.birthdate || '25/11/1990'}}</p>
      <p class="pt-2"><strong>Próximo pago</strong></p>
      <p class="mb-3">15/07/21</p>
      <button>Active</button>
    </div>
    <div class="info-menu-container">
      <ul>
        <li>
          <i class="fas fa-project-diagram"></i>
          <p>Overview</p>
        </li>
        <li>
          <i class="fas fa-info-circle"></i>
          <p>Información</p>
        </li>
        <li>
          <i class="fas fa-dollar-sign"></i>
          <p>Transcacciones</p>
        </li>
        <li>
          <i class="fas fa-sync-alt"></i>
          <p>Suscripciones</p>
        </li>
        <li>
          <i class="fas fa-credit-card"></i>
          <p>Tarjetas</p>
        </li>
        <li>
          <i class="far fa-comment-dots"></i>
          <p>Interacciones</p>
        </li>
      </ul>
    </div>
    <div class="info-footer-container text-center">
      <img class="w-75" src="./assets/recaudialove.png" alt="">
    </div>
  </aside>
  <section class="col-lg-10 user-info-container">
    <div class="info-header-container">
      <div class="header-return-container">
        <button (click)="openMenu()" class="mr-4">
          <i class="fas fa-bars"></i>
        </button>
        <i class="fas fa-arrow-left mr-2"></i>
        <a class="d-inline-block" routerLink="/users"><strong>Regresar</strong></a>
      </div>
      <div class="header-path-container">
        <p>Persona > {{userInfo.name + ' ' + userInfo.lastname}} > <strong>Información</strong></p>
      </div>
    </div>
    <div class="info-padding">
      <div class="info-personal-container">
        <div class="personal-image-container">
          <img src="./assets/gender.png" alt="">
        </div>
        <div class="personal-text-container">
          <div class="text-header-container row">
            <h2 class="col-sm-10">Información personal</h2>
            <div class="button-container col-sm-2 text-right p-0">
              <button>
                <i class="fas fa-cog mr-2"></i>
                <i class="fas fa-caret-down"></i>
              </button>
            </div>
          </div>
          <div class="text-info-container">
            <div class="row-info-container">
              <p>Nombre: </p>
              <p>{{userInfo.name}}</p>
            </div>
            <div class="row-info-container">
              <p>Segundo nombre: </p>
              <p>{{userInfo.middlename}}</p>
            </div>
            <div class="row-info-container">
              <p>Apellidos:</p>
              <p>{{userInfo.lastname}}</p>
            </div>
            <div class="row-info-container">
              <p>Correo: </p>
              <p>{{userInfo.email}}</p>
            </div>
            <div class="row-info-container">
              <p>Teléfono: </p>
              <p>{{userInfo.phones[0]}}</p>
            </div>
            <div class="row-info-container">
              <p>Género:</p>
              <p>{{userInfo.gender}}</p>
            </div>
            <div class="row-info-container">
              <p>Fecha de nacimiento:</p>
              <p>{{userInfo.birthdate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="info-address-container row">
      <div class="address-info-container col-lg-8">
        <h2>Dirección</h2>
        <div class="row-address-container">
          <p>Tipo:</p>
          <select name="" id="">
            <option value="">Seleccionar</option>
          </select>
        </div>
        <div class="row-address-container">
          <p>Calle y número:</p>
        </div>
        <div class="row-address-container">
          <p>Código Postal</p>
        </div>
        <div class="row-address-container">
          <p>Delegación</p>
        </div>
        <div class="row-address-container">
          <p>Ciudad:</p>
        </div>
        <div class="row-address-container">
          <p>Estado:</p>
        </div>
        <div class="row-address-container">
          <p>País:</p>
        </div>
        <div class="row-address-container">
          <p>Comentario:</p>
        </div>
        <div class="button-address-container"><button>Agregar dirección</button></div>
      </div>
      <div class="address-right-container col-lg-4">
        <div class="saved-addresses-container">
          <h2>Direcciones guardadas</h2>
          <div class="address-container">
            <div class="address-text-container">
              <p><strong>Casa</strong></p>
              <p>Tonalá 10</p>
              <p>Código postal</p>
              <p>Comentario</p>
            </div>
            <div class="address-buttons-container">
              <i class="fas fa-trash-alt mr-4"></i>
              <i class="fas fa-file-signature"></i>
            </div>
          </div>
          <div class="address-container">
            <div class="address-text-container">
              <p><strong>Oficina</strong></p>
              <p>Tonalá 10</p>
              <p>Código postal</p>
              <p>Comentario</p>
            </div>
            <div class="address-buttons-container">
              <i class="fas fa-trash-alt mr-4"></i>
              <i class="fas fa-file-signature"></i>
            </div>
          </div>
          <div class="address-container">
            <div class="address-text-container">
              <p><strong>Fiscal</strong></p>
              <p>Tonalá 10</p>
              <p>Código postal</p>
              <p>Comentario</p>
            </div>
            <div class="address-buttons-container">
              <i class="fas fa-trash-alt mr-4"></i>
              <i class="fas fa-file-signature"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>