<div class="login-main-container">
    <div class="login-content-container row">
        <div class="login-form-container col-lg-7">
            <div class="form-header-container">
                <p class="d-inline-block mr-2">Nosotros</p>
                <i style="color: red;" class="fas fa-heart"></i>
            </div>
            <div class="form-inputs-container">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <div class="inputs-buttons-container">
                    <input class="mr-1" type="checkbox" name="recordarme" id=""><label class="align-middle" for="recordarme">Recordarme</label>
                    <button routerLink="/users">Log in</button>
                </div>
            </div>
            <div class="form-footer-container text-center">
                <a href="">Olvide mi contraseña</a>
            </div>
        </div>
        <div class="login-info-container col-lg-5">
            <h2>Bienvenido a</h2>
            <img src="../../../assets/nebula.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora dolor voluptas ex ducimus. Error pariatur in ipsa doloremque sunt minus sapiente repudiandae, soluta unde quisquam, reiciendis saepe aliquam</p>
            <div class="info-image-footer text-center pt-2">
                <img src="../../../assets/alienship.png" alt="">
            </div>
        </div>
    </div>
    <div class="login-footer-container row">
        <div class="col-lg-6">
            <img src="../../../assets/recaudialove.png" alt="">
        </div>
        <div class="col-lg-6 text-right">
            <p class="d-inline-block mr-2">Need support? Contact us:</p>
            <i class="fas fa-phone-square-alt mr-3"></i>
            <i class="fas fa-envelope-square"></i>
        </div>
    </div>
</div>